.create-contest-body{
    display: grid;
    text-align: center;
}

.form{
    /*padding: 10px;*/
}
.form div{
    padding: 10px;
}

.title{

}
.title-text-field{
    width: 280px;
    /*padding: 10px;*/
}

.start-time{
}
.start-time-picker{
}

.end-time{
}
.end-time-picker{
}

.submit-button Button{
}
.choose-file{
}